<div class="container">
  <h1>
    <% if @user == current_user %>
    <b>My Page</b>
    <% else %>
    <b><%= @user.user_name %></b>'s Page
    <% end %>
  </h1>
  <br>
  <div class="row">
    <table class="ml-3">
     <tbody>
      <tr>
         <% if @user.profile_image.attached? %>
          <%= image_tag @user.get_profile_image(300,300) %>
        <% else %>
          <%= image_tag 'no_image', size: "200x200" %>
        <% end %>
      </tr>
      <tr>
        <td>User name</td>
        <td><b><%= @user.user_name %></b></td>
      </tr>
      <tr>
        <% if @user == current_user %>
          <td>E-mail</td>
          <td><b><%= @user.email %></b></td>
        <% end %>
      </tr>
      <tr>
        <td>Favorite Beans</td>
        <td><b><%= @user.favorite_bean %></b></td>
      </tr>
     </tbody>
    </table>
  </div>
  <div class="mt-3">
    <% if @user == current_user %>
      <%= link_to "EDIT", edit_user_path(current_user) , class: 'mr-3 btn btn-success' %>
      <%= link_to "UNSUBSCRIBE",unsubscribe_user_path,class: 'btn btn-danger' %>
    <% end %>
  </div>
  <br>
  <div class="row">
   <div class="col-md-6">
    <label for="cafe">
      <b><%= link_to "Cafe Post",new_cafe_path,class:'btn btn-secondary' %></b>
    </label>
      <table class="table">
        <thead>
          <tr>
            <th>Store Name</th>
            <th>Location</th>
          </tr>
        </thead>
        <tbody>
          <% @cafes.each do |cafe| %>
          <tr>
            <td><%= link_to cafe.store_name,cafe_path(cafe.id) %></td>
            <td><%= cafe.location %></td>
          </tr>
          <% end %>
        </tbody>
      </table>
   </div>
   <div class="col-md-6">
    <label for="beans">
      <b><%= link_to "Beans Post",new_bean_path,class:'btn btn-secondary' %></b>
    </label>
      <table class="table">
        <thead>
          <tr>
            <th>Beans Name</th>
            <th>Origin</th>
            <th>Process</th>
          </tr>
        </thead>
        <tbody>
          <% @beans.each do |bean| %>
          <tr>
            <td><%= link_to bean.beans_name,bean_path(bean.id) %></td>
            <td><%= bean.origin  %></td>
            <td><%= bean.process %></td>
          </tr>
          <% end %>
        </tbody>
      </table>
   </div>
  </div>
</div>

