<div class="container px-5 px-sm-0">
  <h1>
    <b>
      カフェ投稿詳細
    </b>
  </h1>

  <div class="container px-5 px-sm-0">
    <% if @cafe.user != current_user %>
    <b><%= @cafe.user.user_name %></b>さんの投稿

    <% end %>
  </div>

  <table class="table table-hover table-inverse">
    <div class="form-group">
      <label for="image"></label><br>
        <%= image_tag @cafe.get_image,size: '400x300' %>
    </div>
    <div class="form-group">
      <label for="store_name">店舗名</label>
        <b><%= @cafe.store_name %></b>
    </div>
    <div class="form-group">
      <label for="location">所在地</label>
        <b><%= @cafe.location %></b>
    </div>
    <div class="form-group">
      <label for="introduction">紹介</label>
        <b><%= @cafe.introduction %></b>
    </div>
    <div class="form-group">
      <label for="site_url">サイトURL</label>
        <b><%= link_to @cafe.site_url , @cafe.site_url, class: "ml-5" %></b>
    </div>
    <% if @cafe.user == current_user %>
        <%= link_to "編集する", edit_cafe_path(@cafe.id), class: "btn btn-success mr-2" %>
        <%= link_to "削除", destroy_cafe_path(@cafe.id), method: :delete,"data-confirm" => "本当に削除しますか？", class: "btn btn-danger mr-2" %>
    <% end %>
    <%= link_to "戻る", cafes_path, class: "btn btn-primary" %>
  </table>
</div>