<div class="container">
  <h7><%= flash[:notice] %></h7>
  <h7><%= flash[:asign] %></h7>
  <h2>Welcome to COFFEEMANIA！！</h2><br>
 <div class="row">
  <div class="col-md-6"><h3><%= link_to "Cafe Post",new_cafe_path,class: 'btn btn-secondary' %></h3>
   <table class="table" >
    <thead>
     <tr>
      <th>User</th>
      <th>Store Name</th>
      <th>Location</th>
      <th>Comment</th>
      <th>♡</th>
     </tr>
    </thead>
    <tbody>
    <% @cafes.each do |cafe| %>
      <tr>
        <td><%= link_to cafe.user.user_name, user_path(cafe.id) %></td>
        <td><%= link_to cafe.store_name,cafe_path(cafe.id) %></td>
        <td><%= cafe.location %></td>
        <td><%= link_to "#{cafe.cafe_comments.count} Comment", cafe_path(cafe.id) %></td>
        <td><%= cafe.cafe_favorites.count %></td>
      </tr>
    <% end %>
    </tbody>

   </table>
  </div>

  <div class="col-md-6"><h3><%= link_to "Bean Post",new_bean_path, class: 'btn btn-secondary' %></h3>
   <table class="table" >
    <thead>
     <tr>
      <th>User</th>
      <th>Beans Name</th>
      <th>Origin</th>
      <th>Comment</th>
      <th>♡</th>
     </tr>
    </thead>
    <tbody>
    <% @beans.each do |bean| %>
      <tr>
        <td><%= link_to bean.user.user_name, user_path(bean.id) %></td>
        <td><%= link_to bean.beans_name,bean_path(bean.id) %></td>
        <td><%= bean.origin %></td>
        <td><%= link_to "#{bean.bean_comments.count} Comment", bean_path(bean.id) %></td>
        <td><%= bean.bean_favorites.count %></td>
      </tr>
    <% end %>
    </tbody>

   </table>
  </div>
 </div>
</div>

